---
/**
 * SeriesBadge Component
 * 
 * Displays a visual indicator for posts that are part of a series
 * Can be used in list views to highlight series posts
 */

export interface Props {
  seriesName: string;
  seriesPosition: string;
  size?: 'sm' | 'md' | 'lg';
}

const { 
  seriesName, 
  seriesPosition,
  size = 'md'
} = Astro.props;

// Size classes
const sizeClasses = {
  sm: 'text-xs py-0.5 px-1.5',
  md: 'text-sm py-1 px-2',
  lg: 'text-base py-1.5 px-3'
};

const badgeClasses = `
  inline-flex items-center rounded-md 
  bg-blue-50 dark:bg-blue-900/30 
  text-blue-700 dark:text-blue-300
  border border-blue-100 dark:border-blue-800
  ${sizeClasses[size]}
  transition-all duration-300 hover:bg-blue-100 dark:hover:bg-blue-800/50
  group
`;
---

<a href={`/series/`} class={badgeClasses}>
  <span class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
    </svg>
    <span class="font-medium truncate max-w-[120px] group-hover:underline">{seriesName}</span>
  </span>
  <span class="ml-1.5 inline-flex items-center justify-center rounded-full bg-blue-200 dark:bg-blue-700 px-1.5 py-0.5 text-xs font-medium text-blue-800 dark:text-blue-200 min-w-[20px]">
    {seriesPosition}
  </span>
</a>
