---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Prices from '~/components/widgets/Pricing.astro';

const metadata = {
  title: 'Publikasi Jurnal AApedia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Lihat Jurnal', href: '#daftarjurnal' },
      {
        variant: 'primary',
        text: 'Biaya Publikasi',
        href: '#',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
Lindungi Karya Ilmiah Anda melalui <span class="text-accent dark:text-white highlight">Penerbit yang Tepat</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> selalu berupaya meningkatkan kualitas dan kredibilitas jurnal agar dapat menjadi rujukan yang terpercaya bagi para pembaca
    </Fragment>
  </Hero>


  <!-- Features2 Widget ************** -->

  <Features2
    id="daftarjurnal"
    title="Daftar Jurnal AApedia"
    subtitle="AApedia menawarkan berbagai pilihan jurnal yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan."
    columns={3}
    items={[
      {
        title: 'Jurnal Ekonomi Bisnis',
        description:
          '<span class="font-semibold">AAKOBIS</span>. AAnya itu bisa berarti Article Access / Akses Artikel. Keren ga. Memuat hasil karya tulis di bidang ekonomi dan bisnis. Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:tie',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Jurnal Kesehatan',
        description:
          '<span class="font-semibold">AAKETAN</span> memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:vaccine',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Jurnal Pendidikan',
        description: `<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
        icon: 'tabler:school',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:article',
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },
    ]}
  />



  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Alur Publikasi Jurnal"
    subtitle="Kami menawarkan kemudahan bagi para penulis dengan membebaskan biaya pengiriman artikel. Proses pembayaran baru akan dilakukan setelah artikel Anda lolos tahap review dan siap untuk dipublikasikan.  Dengan demikian, Anda dapat fokus pada kualitas tulisan tanpa perlu khawatir mengenai biaya di awal proses."
    items={[
      {
        title: 'Submit Artikel Jurnal Gratis',
        description:
          'Unggah artikel Anda melalui platform jurnal yang disediakan oleh Aapedia, pastikan manuscript Anda telah disusun sesuai dengan template dan pedoman penulisan jurnal.',
      },
      {
        title: 'Proses Editorial Team',
        description:
          'Jika manuscript Anda lolos penilaian awal, maka akan dikirimkan ke beberapa reviewer untuk dilakukan peer review. Reviewer akan memberikan masukan dan penilaian terhadap manuscript Anda.',
      },
      {
        title: 'Terbit / Dapatkan LOA',
        description:
          'Setelah Anda menyelesaikan proses revisi dan pembayaran biaya publikasi, kami akan mengirimkan Letter of Acceptance (LoA). LoA merupakan surat resmi yang menyatakan bahwa manuskrip Anda telah diterima dan siap untuk dipublikasikan.',
      },
    ]}
  />


  <!-- Features3 Widget ************** -->

  <Features3
    title="Fitur Utama"
    subtitle="Beberapa poin sebagai pertimbangan kenapa harus submit di jurnal AApedia."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Legalitas',
        description: 'AApedia adalah penerbit yang terdaftar secara resmi dan memiliki izin operasional. Artikel yang Anda publikasikan memiliki kekuatan hukum yang diakui.',
      },
      {
        title: 'Standar Nasional',
        description: 'Setiap jurnal memiliki ISSN yang sah oleh Badan Riset Inovasi Nasional, dan setidaknya sudah terindeks di Google Schoolar serta Garuda',
      },
      {
        title: 'Digital Object Identifier',
        description: 'DOI unik dari Crossref melalui RJI menunjukkan bahwa artikel Anda telah melalui proses publikasi yang serius dan memenuhi standar internasional.',
      },
      {
        title: 'Database Jurnal Internasional',
        description: 'Dengan indeksasi seperti Copernicus dan Dimension, artikel Anda akan memiliki visibilitas yang lebih luas dan mudah ditemukan oleh peneliti lain.',
      },
      {
        title: 'Etika Penelitian',
        description: 'AApedia menjunjung tinggi etika penelitian dan memastikan bahwa semua artikel yang diterbitkan memenuhi standar etika yang berlaku.',
      },
      {
        title: 'Tim Editor',
        description: 'AApedia didukung oleh tim editor dan reviewer yang terdiri dari para ahli di bidangnya, sehingga artikel Anda akan mendapatkan evaluasi yang objektif.',
      },
      {
        title: 'Tim Teknis',
        description: 'Dapatkan bantuan dari tim AApedia untuk mengatasi segala kendala teknis yang Anda hadapi selama proses submit dan publikasi.',
      },
      {
        title: 'Keamanan Data',
        description: 'AApedia melakukan backup data server secara berkala dan memastikan keamanan sistem jurnal, untuk melindungi data berharga penelitian Anda.',
      },
      {
        title: 'Proofreading & Cek Plagiarisme',
        description: 'Dapatkan layanan proofreading dan cek plagiarisme (Turnitin) gratis untuk memastikan kualitas dan orisinalitas artikel Anda.',
      },
    ]}
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Biaya Publikasi"
    subtitle="Hanya bayar setelah siap terbit"
    prices={[
      {
        title: 'Harga Transparan',
        subtitle: 'Untuk setiap jurnal AApedia',
        price: 100.000,
        period: 'Per Artikel',
        items: [
          {
            description: 'ISSN',
          },
          {
            description: 'Garuda',
          },
          {
            description: 'Google Scholar',
          },
          {
            description: 'IndexCopernicus',
          },
          {
            description: 'Gratis Proofreading',
          },
          {
            description: 'Gratis Cek Plagiasi',
          },
        ],
        callToAction: {
          text: 'Hubungi Kami',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'promo',
      },
    ]}
  />


</Layout>
