---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Publikasi Jurnal AApedia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Lihat Jurnal', href: '#jurnalrekanan' },
      {
        variant: 'primary',
        text: 'Isi Formulir',
        href: 'https://forms.google.com',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
Lindungi Karya Ilmiah Anda melalui <span class="text-accent dark:text-white highlight">Penerbit yang Tepat</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> selalu berupaya meningkatkan kualitas dan kredibilitas jurnal agar dapat menjadi rujukan yang terpercaya bagi para pembaca
    </Fragment>
  </Hero>


  <!-- Features2 Widget ************** -->

  <Features2
    id="daftarjurnal"
    title="Daftar Jurnal AApedia"
    subtitle="<span class="font-semibold">AApedia</span> menawarkan berbagai pilihan jurnal yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan."
    columns={3}
    items={[
      {
        title: 'Ekonomi Bisnis',
        description:
          '<span class="font-semibold">AAKOBIS</span>. AAnya itu Article Access / Akses Artikel juga bisa. Keren ga. Memuat hasil karya tulis di bidang ekonomi, bisnis, akuntansi. Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:tie',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Kesehatan',
        description:
          '<span class="font-semibold">AAKETAN</span> memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:vaccine',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Pendidikan',
        description: `<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
        icon: 'tabler:school',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:article',
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },



      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },



      },
    ]}
  />


  <!-- Steps2 Widget ****************** -->

  <Steps
    title="Prosedur Publikasi"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start exploring',
        href: '/',
      },
    ]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
