---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Publikasi Jurnal AApedia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Lihat Jurnal', href: '#jurnalrekanan' },
      {
        variant: 'primary',
        text: 'Isi Formulir',
        href: 'https://forms.google.com',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
Lindungi Karya Ilmiah Anda melalui <span class="text-accent dark:text-white highlight">Penerbit yang Tepat</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> selalu berupaya meningkatkan kualitas dan kredibilitas jurnal agar dapat menjadi rujukan yang terpercaya bagi para pembaca
    </Fragment>
  </Hero>


  <!-- Features2 Widget ************** -->

  <Features2
    id="daftarjurnal"
    title="Jurnal Rekanan AApedia"
    subtitle="AApedia menawarkan berbagai pilihan jurnal yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan."
    columns={3}
    items={[
      {
        title: 'Ekonomi Bisnis',
        description:
          '<span class="font-semibold">AAKOBIS</span>. AAnya itu Article Access / Akses Artikel juga bisa. Keren ga. Memuat hasil karya tulis di bidang ekonomi, bisnis, akuntansi. Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:tie',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Kesehatan',
        description:
          '<span class="font-semibold">AAKETAN</span> memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:vaccine',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Pendidikan',
        description: `<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
        icon: 'tabler:school',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:article',
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },
    ]}
  />



  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Alur Publikasi Jurnal"
    subtitle="Kami menawarkan kemudahan bagi para penulis dengan membebaskan biaya pengiriman artikel. Proses pembayaran baru akan dilakukan setelah artikel Anda lolos tahap review dan siap untuk dipublikasikan.  Dengan demikian, Anda dapat fokus pada kualitas tulisan tanpa perlu khawatir mengenai biaya di awal proses."
    items={[
      {
        title: 'Submit Artikel Jurnal Gratis',
        description:
          'Unggah artikel Anda melalui platform jurnal yang disediakan oleh Aapedia, pastikan manuscript Anda telah disusun sesuai dengan template dan pedoman penulisan jurnal.',
      },
      {
        title: 'Proses Editorial Team',
        description:
          'Jika manuscript Anda lolos penilaian awal, maka akan dikirimkan ke beberapa reviewer untuk dilakukan peer review. Reviewer akan memberikan masukan dan penilaian terhadap manuscript Anda.',
      },
      {
        title: 'Terbit / Dapatkan LOA',
        description:
          'Setelah Anda menyelesaikan proses revisi dan pembayaran biaya publikasi, kami akan mengirimkan Letter of Acceptance (LoA). LoA merupakan surat resmi yang menyatakan bahwa manuskrip Anda telah diterima dan siap untuk dipublikasikan.',
      },
    ]}
  />


  <!-- Features3 Widget ************** -->

  <Features3
    title="Fitur Utama"
    subtitle="Beberapa poin untuk pertimbangan kenapa harus submit di jurnal AApedia."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Legalitas',
        description: 'AApedia merupakan penerbit yang terdaftar secara resmi dan memiliki izin operasional yang lengkap, sehingga artikel yang Anda publikasikan memiliki kekuatan hukum yang diakui.',
      },
      {
        title: 'ISSN, Google Scholar & Garuda',
        description: 'Setiap jurnal yang diterbitkan oleh AApedia memiliki ISSN yang sah, dan memenuhi standar minimal indeksasi jurnal di Indonesia.',
      },
      {
        title: 'Digital Object Identifier',
        description: 'Setiap artikel dilengkapi DOI unik dari Crossref melalui RJI, adanya DOI menunjukkan bahwa artikel Anda telah melalui proses publikasi yang serius dan memenuhi standar internasional.',
      },
      {
        title: 'Tim Editor',
        description: 'AApedia didukung oleh tim editor dan reviewer yang terdiri dari para ahli di bidangnya, sehingga artikel Anda akan mendapatkan evaluasi yang berkualitas dan objektif.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />


</Layout>
