---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CloudPartners from "../components/CloudPartners.astro";
import ValueProposition from "../components/ValueProposition.astro";
import UseCases from "../components/UseCases.astro";
import ServicePackages from "../components/ServicePackages.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Managed Cloud Server untuk Pendidikan">
  <Header />
  <main class="overflow-x-hidden">
    <Hero />
    <CloudPartners />
    <ValueProposition />
    <UseCases />
    <ServicePackages />
    <CallToAction />
  </main>
  <Footer />
</BaseLayout>
