---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AApedia — Jasa Publikasi Jurnal dan Skripsi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Isi Formulir',
        href: 'https://forms.google.com',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
      { text: 'Pelajari', href: '#tentang' },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
      Jurnal dan Skripsi
      <span class="text-accent dark:text-white highlight"> Bebas Repot</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> menawarkan berbagai layanan komprehensif untuk membantu institusi, akademisi, peneliti, dan mahasiswa dalam meraih kesuksesan di bidang akademik
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

<!-- Features2 Widget ************** -->

  <Features
    id="tentang"
    tagline="Legalitas"
    title="Sekilas Tentang"
    subtitle="AApedia adalah lembaga publikasi ilmiah oleh komunitas peneliti & penulis untuk layanan profesional (Legal: Nomor X/XX/X/202x). Nanti dibawahnya mungkin masukin gambar2 logo scholar, garuda dsb "
  />

 <!-- Features2 Widget ************** -->

  <Features2
    id="layanan"
    tagline="Layanan"
    title="Apa saja layanan AApedia?"
    subtitle="Kami percaya bahwa pendidikan, penelitian, publikasi ilmiah, dan pengabdian kepada masyarakat (PkM) adalah kunci untuk kemajuan bangsa. Oleh karena itu, kami berkomitmen untuk menyediakan layanan yang berkualitas dan terjangkau."
    tagline="Layanan"
    items={[
      {
        title: 'Publikasi Jurnal Ilmiah',
        description: "Dapatkan bantuan untuk menerbitkan artikel ilmiah Anda di jurnal yang kredibel.",
        icon: 'flat-color-icons:approval',
        callToAction: {
          text: `Info dan Biaya`,
          href: '#nilaiplus',
        },
      },
      {
        title: 'Penulisan Artikel Jurnal',
        description:
          "Jasa pembuatan artikel jurnal ilmiah berkualitas sesuai standar jurnal yang dituju.",
        icon: 'flat-color-icons:document',
        callToAction: {
          text: `Selengkapnya`,
          href: '#nilaiplus',
        },
      },
      {
        title: 'Jasa Skripsi & Thesis',
        description:
          'Pendampingan dalam mengerjakan skripsi atau tesis fleksibel dari awal hingga akhir.',
        icon: 'flat-color-icons:voice-presentation',
        callToAction: {
          text: `Selengkapnya`,
          href: '#nilaiplus',
        },
      },
      {
        title: 'Analisis Statistik',
        description:
          "Bantuan analisis data penelitian menggunakan metode statistik yang tepat.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Pelatihan Penulisan Ilmiah',
        description:
          'Tingkatkan kemampuan Anda dalam menulis artikel ilmiah yang berkualitas.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Website Jurnal',
        description: 'Jasa gratis pembuatan jurnal OJS untuk institusi atau lembaga dengan ketentuan yang berlaku.',
        icon: 'flat-color-icons:template',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

<!-- Features Widget *************** -->

  <Features
    id="nilaiplus"
    tagline="Nilai Plus"
    title="Kenapa AApedia?"
    subtitle="Memilih mitra yang tepat untuk kebutuhan asistensi akademis Anda sangatlah penting. AApedia hadir sebagai solusi terpercaya untuk membantu Anda mencapai kesuksesan akademis."
    items={[
      {
        title: 'Tim Profesional',
        description:
          'AApedia didukung oleh tim profesional yang terdiri dari para ahli di bidang penelitian dan publikasi ilmiah dengan pengalaman bertahun-tahun.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Layanan Komprehensif',
        description:
          'Kami menawarkan berbagai layanan yang komprehensif untuk memenuhi kebutuhan Anda, mulai dari penerbitan, penulisan artikel ilmiah, skripsi, hingga analisis statistik.',
        icon: 'tabler:components',
      },
      {
        title: 'Efisiensi',
        description:
          'Kami memahami bahwa waktu Anda sangat berharga. Oleh karena itu, kami selalu berusaha untuk menyelesaikan pekerjaan dengan efisien tanpa mengorbankan kualitas.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Biaya Terjangkau dan Fleksibel',
        description:
          'Kami menawarkan berbagai pilihan paket dengan biaya yang terjangkau dan fleksibel menyesuaikan dengan progress proyek Anda.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Komunikasi Jelas dan Terbuka',
        description:
          'Kami selalu menjaga komunikasi yang jelas dan terbuka dengan para klien selama proses berlangsung.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Integritas',
        description:
          'Kami menjunjung tinggi kejujuran dan profesionalisme dalam setiap layanan yang kami berikan.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Serahkan pengerjaan tugas kepada tim kami dan fokuskan waktu berharga Anda pada hal lain"
    items={[
      {
        title: 'Langkah 1: <span class="font-medium">Hubungi/Isi Formulir</span>',
        description:
          "Jelaskan secara singkat kebutuhan asistensi akademis Anda, seperti jenis layanan yang dibutuhkan, deadline, dan informasi lainnya yang relevan. Tim AApedia akan segera menghubungi Anda untuk mendiskusikan kebutuhan Anda lebih lanjut dan memberikan penawaran terbaik.",
        icon: 'tabler:package',
      },
      {
        title: 'Langkah 2: <span class="font-medium">Diskusi</span>',
        description:
          "Dapatkan konsultasi gratis dengan tim ahli AApedia untuk membahas kebutuhan asistensi akademis Anda secara lebih mendalam. Anda dapat mengajukan pertanyaan, mendapatkan saran, dan menyepakati biaya yang diperlukan.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Langkah 3: <span class="font-medium">Proses Pengerjaan</span>',
        description:
          "Setelah Anda yakin dengan layanan kami, tim kami akan segera mengerjakan permintaan Anda. Kami akan memberikan update berkala tentang kemajuan permintaan hingga selesai.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Apa saja pilihan jurnal untuk publikasi?',
        description:
          "AApedia membantu penerbitan di berbagai jurnal kredibel dan terindeks, baik nasional maupun internasional. Tim kami akan membantu Anda memilih jurnal yang tepat sesuai dengan bidang penelitian dan target publikasi Anda.",
      },
      {
        title: 'Berapa lama waktu yang dibutuhkan untuk menyelesaikan jasa penulisan artikel jurnal?',
        description:
          'Waktu penyelesaian jasa penulisan artikel jurnal di AApedia bervariasi tergantung pada kompleksitas topik, panjang artikel, dan ketersediaan tim. Rata-rata, kami membutuhkan waktu 2-4 minggu untuk menyelesaikan satu artikel.',
      },
      {
        title: 'Berapa lama waktu yang dibutuhkan untuk menyelesaikan skripsi atau tesis?',
        description:
          "Waktu penyelesaian skripsi atau tesis di AApedia bervariasi tergantung pada kompleksitas penelitian, ketersediaan data, dan komitmen Anda. Tim AApedia akan bekerja sama dengan Anda untuk menentukan timeline yang realistis dan memastikan penyelesaian tepat waktu.",
      },
      {
        title: "Apakah AApedia menyediakan jasa revisi setelah artikel jurnal atau skripsi/tesis selesai?",
        description:
          "Ya, AApedia menyediakan jasa revisi untuk memastikan artikel jurnal atau skripsi/tesis Anda memenuhi standar kualitas dan siap untuk diterbitkan atau dipresentasikan.",
      },
      {
        title: 'Apa saja metode statistik yang ditawarkan AApedia untuk analisis data penelitian',
        description:
          "AApedia menawarkan berbagai metode statistik untuk analisis data penelitian, termasuk analisis deskriptif, analisis inferensial, regresi linier, analisis multivariat, dan analisis data panel. Tim ahli statistik kami akan membantu Anda memilih metode yang tepat untuk data dan tujuan penelitian Anda",
      },
      {
        title: 'Bagaimana cara mendaftar jasa pembuatan website jurnal OJS di AApedia?',
        description:
          "Untuk mendaftar jasa pembuatan website jurnal OJS di AApedia, silakan hubungi kami.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Alamat Kantor', amount: '2' },
      { title: 'Klien', amount: '75+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Hubungi Kami',
        href: 'https://google.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      AApedia <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Academic Assistance</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hubungi Kami Sekarang untuk Konsultasi Gratis <br class="hidden md:inline" />Jangan sampai tugasmu tertunda!
    </Fragment>
  </>
</Layout>
