---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AApedia — Jasa Publikasi Jurnal dan Skripsi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Whatsapp',
        href: 'https://google.com',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
      { text: 'Pelajari', href: '#kualitas' },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
      Jurnal dan Skripsi
      <span class="text-accent dark:text-white highlight"> Bebas Repot</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> tidak hanya sebagai lembaga publikasi resmi berbadan hukum. Kami juga menawarkan berbagai layanan komprehensif untuk membantu para akademisi, peneliti, dan mahasiswa dalam meraih kesuksesan di dunia akademik
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="kualitas"
    tagline="Kualitas"
    title="Kenapa AApedia?"
    subtitle="Memilih mitra yang tepat untuk kebutuhan asistensi akademis Anda sangatlah penting. AApedia hadir sebagai solusi terpercaya untuk membantu Anda mencapai kesuksesan akademis."
    items={[
      {
        title: 'Tim Profesional',
        description:
          'Tim AApedia terdiri dari para ahli di bidang penelitian dan publikasi ilmiah dengan pengalaman bertahun-tahun yang didukung oleh tim IT profesional. Kami yakin dapat membantu Anda mencapai tujuan akademis Anda.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Layanan Komprehensif',
        description:
          'Kami menawarkan berbagai layanan yang komprehensif untuk memenuhi kebutuhan Anda, mulai dari penerbitan, penulisan artikel ilmiah, skripsi, hingga analisis statistik.',
        icon: 'tabler:components',
      },
      {
        title: 'Proses Efisien',
        description:
          'Kami memahami bahwa waktu Anda sangat berharga. Oleh karena itu, kami selalu berusaha untuk menyelesaikan pekerjaan dengan cepat dan efisien tanpa mengorbankan kualitas.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Harga Terjangkau dan Fleksibel',
        description:
          'Kami menawarkan berbagai pilihan paket dengan harga yang terjangkau dan fleksibel sesuai dengan progress proyek Anda.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Komunikasi Jelas dan Terbuka',
        description:
          "Kami akan selalu berkomunikasi dengan Anda secara jelas dan terbuka selama proses berlangsung untuk memastikan kepuasan Anda.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Komitmen',
        description:
          'Kami selalu berusaha untuk memberikan layanan terbaik dan komitmen terhadap integritas.',
        icon: 'tabler:bulb',
      },
    ]}
  />

 <!-- Features2 Widget ************** -->

  <Features2
    title="Apa saja layanan AApedia?"
    subtitle="Kami percaya bahwa penelitian dan publikasi ilmiah adalah kunci untuk kemajuan bangsa. Oleh karena itu, kami berkomitmen untuk menyediakan layanan yang berkualitas dan terjangkau untuk membantu para akademisi, peneliti, dan mahasiswa."
    tagline="Layanan"
    items={[
      {
        title: 'Publikasi Jurnal Ilmiah',
        description: "Dapatkan bantuan untuk menerbitkan artikel ilmiah Anda di jurnal yang kredibel.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Penulisan Artikel Jurnal',
        description:
          "Jasa pembuatan artikel jurnal ilmiah berkualitas sesuai standar jurnal yang dituju.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Penyelesaian Skripsi & Thesis',
        description:
          'Dapatkan pendampingan dalam mengerjakan skripsi dan thesis dari awal hingga akhir.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Analisis Statistik',
        description:
          "Bantuan analisis data penelitian menggunakan metode statistik yang tepat.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Pelatihan Penulisan Ilmiah',
        description:
          'Tingkatkan kemampuan Anda dalam menulis artikel ilmiah yang berkualitas.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Penerjemahan Naskah Ilmiah',
        description: 'Ubah naskah ilmiah Anda ke berbagai bahasa dengan terjemahan yang akurat dan profesional',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Serahkan pengerjaan tugas kepada tim kami dan fokuskan waktu berharga Anda pada hal lain"
    items={[
      {
        title: 'Langkah 1: <span class="font-medium">Isi Formulir</span>',
        description:
          "Jelaskan secara singkat kebutuhan asistensi akademis Anda, seperti jenis layanan yang dibutuhkan, deadline, dan informasi lainnya yang relevan. Tim AApedia akan segera menghubungi Anda untuk mendiskusikan kebutuhan Anda lebih lanjut dan memberikan penawaran terbaik.",
        icon: 'tabler:package',
      },
      {
        title: 'Langkah 2: <span class="font-medium">Diskusi</span>',
        description:
          "Dapatkan konsultasi gratis dengan tim ahli AApedia untuk membahas kebutuhan asistensi akademis Anda secara lebih mendalam. Anda dapat mengajukan pertanyaan, mendapatkan saran, dan menyepakati biaya yang diperlukan.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Langkah 3: <span class="font-medium">Proses Pengerjaan</span>',
        description:
          "Setelah Anda yakin dengan layanan kami, tim kami akan segera mengerjakan permintaan Anda. Kami akan memberikan update berkala tentang kemajuan permintaan hingga selesai.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

 


<!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Kantor', amount: '2' },
      { title: 'Anggota Tim', amount: '7' },
      { title: 'Klien', amount: '75+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Hubungi Kami',
        href: 'https://google.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      AApedia<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Asistensi Akademis</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hubungi Kami Sekarang untuk Konsultasi Gratis <br class="hidden md:inline" />Jangan sampai tugasmu tertunda!
    </Fragment>
  </>
</Layout>
