---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Publikasi Jurnal AApedia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Lihat Jurnal', href: '#jurnalrekanan' },
      {
        variant: 'primary',
        text: 'Isi Formulir',
        href: 'https://forms.google.com',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
Lindungi Karya Ilmiah Anda melalui <span class="text-accent dark:text-white highlight">Penerbit yang Tepat</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> selalu berupaya meningkatkan kualitas dan kredibilitas jurnal agar dapat menjadi rujukan yang terpercaya bagi para pembaca
    </Fragment>
  </Hero>







<div class="grid sm:grid-cols-2 gap-4 lg:grid-cols-3 md:gap-6 sm:gap-y-8">
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:approval" height="1em" viewBox="0 0 48 48" width="1em">
            <symbol id="ai:flat-color-icons:approval">
                <path d="m24 3l4.7 3.6l5.8-.8l2.2 5.5l5.5 2.2l-.8 5.8L45 24l-3.6 4.7l.8 5.8l-5.5 2.2l-2.2 5.5l-5.8-.8L24 45l-4.7-3.6l-5.8.8l-2.2-5.5l-5.5-2.2l.8-5.8L3 24l3.6-4.7l-.8-5.8l5.5-2.2l2.2-5.5l5.8.8z" fill="#8BC34A"></path>
                <path d="M34.6 14.6L21 28.2l-5.6-5.6l-2.8 2.8l8.4 8.4l16.4-16.4z" fill="#CCFF90"></path>
            </symbol>
            <use xlink:href="#ai:flat-color-icons:approval"></use>
        </svg>
        <div class="font-bold text-xl">Publikasi Artikel Jurnal</div>
        <p class="text-muted mt-2">Penerbitan artikel ilmiah Anda di jurnal yang kredibel mulai dari gratis hingga berbayar.</p>
        <div class="mt-2"><a class="btn-secondary" href="#nilaiplus">Selengkapnya</a></div>
    </div>
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:document" height="1em" viewBox="0 0 48 48" width="1em">
            <symbol id="ai:flat-color-icons:document">
                <path d="M40 45H8V3h22l10 10z" fill="#90CAF9"></path>
                <path d="M38.5 14H29V4.5z" fill="#E1F5FE"></path>
                <path d="M16 21h17v2H16zm0 4h13v2H16zm0 4h17v2H16zm0 4h13v2H16z" fill="#1976D2"></path>
            </symbol>
            <use xlink:href="#ai:flat-color-icons:document"></use>
        </svg>
        <div class="font-bold text-xl">Penulisan Artikel Jurnal</div>
        <p class="text-muted mt-2">Jasa pendampingan artikel jurnal ilmiah berkualitas sesuai standar jurnal yang dituju.</p>
        <div class="mt-2"><a class="btn-secondary" href="#nilaiplus">Selengkapnya</a></div>
    </div>
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:voice-presentation" height="1em" viewBox="0 0 48 48" width="1em">
            <symbol id="ai:flat-color-icons:voice-presentation">
                <path d="M40 22h-8l-4 4V12c0-2.2 1.8-4 4-4h8c2.2 0 4 1.8 4 4v6c0 2.2-1.8 4-4 4" fill="#2196F3"></path>
                <circle cx="17" cy="19" r="8" fill="#FFA726"></circle>
                <path d="M30 36.7S26.4 30 17 30S4 36.7 4 36.7V40h26z" fill="#607D8B"></path>
            </symbol>
            <use xlink:href="#ai:flat-color-icons:voice-presentation"></use>
        </svg>
        <div class="font-bold text-xl">Jasa Skripsi &amp; Thesis</div>
        <p class="text-muted mt-2">Bimbingan dalam mengerjakan skripsi atau tesis fleksibel dari awal hingga akhir.</p>
        <div class="mt-2"><a class="btn-secondary" href="#nilaiplus">Selengkapnya</a></div>
    </div>
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:document" height="1em" viewBox="0 0 48 48" width="1em"><use xlink:href="#ai:flat-color-icons:document"></use></svg>
        <div class="font-bold text-xl">Analisis Statistik</div>
        <p class="text-muted mt-2">Bantuan analisis data penelitian menggunakan metode statistik yang tepat.</p>
    </div>
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:advertising" height="1em" viewBox="0 0 48 48" width="1em">
            <symbol id="ai:flat-color-icons:advertising">
                <path d="M17.4 33H15v-4h4l.4 1.5c.3 1.3-.7 2.5-2 2.5M37 36s-11.8-7-18-7V15c5.8 0 18-7 18-7z" fill="#90CAF9"></path>
                <g fill="#283593">
                    <circle cx="9" cy="22" r="5"></circle>
                    <path d="M40 19h-3v6h3c1.7 0 3-1.3 3-3s-1.3-3-3-3M18.6 41.2c-.9.6-2.5 1.2-4.6 1.4c-.6.1-1.2-.3-1.4-1L8.2 27.9S17 21.7 17 29c0 5.5 1.5 8.4 2.2 9.5c.5.7.5 1.6 0 2.3c-.2.2-.4.3-.6.4"></path>
                </g>
                <path d="M9 29h10V15H9c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2" fill="#3F51B5"></path>
                <path d="M38 38c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2s2 .9 2 2v28c0 1.1-.9 2-2 2" fill="#42A5F5"></path>
            </symbol>
            <use xlink:href="#ai:flat-color-icons:advertising"></use>
        </svg>
        <div class="font-bold text-xl">Translate / Penerjemah</div>
        <p class="text-muted mt-2">Jasa translasi artikel perkata dari bahasa Indonesia ke Inggris atau sebaliknya.</p>
    </div>
    <div class="flex flex-col backdrop-blur bg-white border border-[#ffffff29] dark:bg-slate-900 dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] p-6 relative rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)]">
        <svg class="text-primary h-12 mb-6 w-12" data-icon="flat-color-icons:template" height="1em" viewBox="0 0 48 48" width="1em">
            <symbol id="ai:flat-color-icons:template">
                <path d="M4 7h40v34H4z" fill="#BBDEFB"></path>
                <path d="M9 12h30v5H9z" fill="#3F51B5"></path>
                <path d="M9 21h13v16H9zm17 0h13v16H26z" fill="#2196F3"></path>
            </symbol>
            <use xlink:href="#ai:flat-color-icons:template"></use>
        </svg>
        <div class="font-bold text-xl">Pembuatan Website Jurnal</div>
        <p class="text-muted mt-2">Jasa gratis instalasi jurnal OJS untuk institusi atau lembaga dengan ketentuan yang berlaku.</p>
    </div>
</div>























<!-- Content Widget **************** -->

  <Content
    id="jurnalrekanan"
    title="Jurnal Rekanan AApedia"
    subtitle="AApedia menawarkan berbagai pilihan jurnal yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan artikel."
    items={[
      {
        id:'aakobis',
        title: 'Focus & Scope:',
        description:
          'AAnya itu Article Access atau Akses Artikel. Maknanya jadi berbunyi Akses Artikel Ekonomi Bisnis. Gitu maksude. Keren ga. Tapi cuma contoh aja. Jurnal ini memuat hasil karya tulis di bidang ekonomi, bisnis, akuntansi. Terbit 3 kali setahun.',
      },
      {
        title: 'Indexing:',
        description:
          'Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
      },
    ]}
    image={{
      src: '~/assets/images/tarbiyahmu.webp',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '#hero',
      text: 'Lihat Web Jurnal',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        AAKOBIS: <br /><span class="text-2xl">Jurnal Ekonomi dan Bisnis</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Focus & Scope:',
        description:
          'Memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan. Terbit 3 kali setahun.',
      },
      {
        title: 'Indexing:',
        description: `Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
      },
    ]}
    image={{
      src: '~/assets/images/tarbiyahmu.webp',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Lihat Web Jurnal',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        AAKETAN: <br /><span class="text-2xl">Jurnal Kesehatan</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Focus & Scope:',
        description: `Memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan. Terbit 3 kali setahun..`,
      },
      {
        title: 'Indexing:',
        description: `Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
      },
    ]}
    image={{
      src: '~/assets/images/tarbiyahmu.webp',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      text: 'Lihat Web Jurnal',
      icon: 'tabler:chevron-right',
      href: '#aakobis',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        AAIKAN: <br /><span class="text-2xl">Jurnal Pendidikan</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Features2 Widget ************** -->

  <Features2
    id="daftarjurnal"
    title="Jurnal Rekanan AApedia"
    subtitle="AApedia menawarkan berbagai pilihan jurnal yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan."
    columns={3}
    items={[
      {
        title: 'Ekonomi Bisnis',
        description:
          '<span class="font-semibold">AAKOBIS</span>. AAnya itu Article Access / Akses Artikel juga bisa. Keren ga. Memuat hasil karya tulis di bidang ekonomi, bisnis, akuntansi. Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:tie',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Kesehatan',
        description:
          '<span class="font-semibold">AAKETAN</span> memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:vaccine',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Pendidikan',
        description: `<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.`,
        icon: 'tabler:school',
        callToAction: {
          text: `Lihat Jurnal`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:article',
      },
      {
        title: 'Belum Tau',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun. Terindeks Google Scholar, Garuda, Coppernicus, DOAJ.',
        icon: 'tabler:arrow-big-up-lines',
      },



{
  title: 'this is title',
  description: 'this is description.',
  callToAction: {
    text: `More`,
    href: '#',
  },
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },



      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start exploring',
        href: '/',
      },
    ]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
