---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Publikasi Artikel Jurnal Ilmiah AApedia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Lihat Jurnal', href: '#daftarjurnal' },
      {
        variant: 'primary',
        text: 'Biaya Publikasi',
        href: '#biaya',
        icon: 'tabler:arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/banner_belajar.webp', alt: 'AApedia Hero Image' }}
  >
    <Fragment slot="title">
Publikasi Artikel <span class="text-accent dark:text-white highlight">Jurnal Ilmiah</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">AApedia</span> selalu berupaya meningkatkan kualitas dan kredibilitas dalam publikasi artikel jurnal agar dapat menjadi rujukan yang terpercaya bagi para pembaca
    </Fragment>
  </Hero>


  <!-- Features2 Widget ************** -->

  <Features2
    id="daftarjurnal"
    title="Daftar Jurnal AApedia"
    subtitle="AApedia menawarkan berbagai pilihan untuk karya ilmiah yang dapat disesuaikan dengan kebutuhan. Kami menyediakan dukungan penuh mulai dari konsultasi hingga penerbitan artikel."
    columns={3}
    items={[
      {
        title: 'Jurnal Ekonomi Bisnis',
        description:
          '<span class="font-semibold">AAKOBIS</span>. AAnya itu bisa berarti Article Access / Akses Artikel. Keren ga. Memuat hasil karya tulis di bidang ekonomi dan bisnis.',
        icon: 'tabler:tie',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Jurnal Kesehatan',
        description:
          '<span class="font-semibold">AAKETAN</span> memuat tentang hasil penerbitan atau pemikiran bidang kesehatan yang dilakukan oleh peneliti, akademisi, dan praktisi kesehatan.',
        icon: 'tabler:vaccine',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Jurnal Pendidikan',
        description: `<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.  Terbit 3 kali setahun.`,
        icon: 'tabler:school',
        callToAction: {
          text: `coming soon`,
          href: '#daftarjurnal',
        },
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.',
        icon: 'tabler:article',
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Coming Soon',
        description:
          '<span class="font-semibold">AAIKAN</span> memuat tentang hasil penerbitan atau pemikiran bidang pendidikan yang dilakukan oleh peneliti, akademisi, dan praktisi pendidikan.',
        icon: 'tabler:arrow-big-up-lines',
      },
    ]}
  />



  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Langkah Mudah Publikasi di Aapedia"
    subtitle="Pilih jurnal yang sesuai, daftar atau login ke akun Anda, lalu unggah artikel Anda. Setelah melalui tahap review dan melakukan pembayaran, kami akan mengirimkan Letter of Acceptance (LoA) sebagai konfirmasi bahwa artikel Anda diterima dan siap untuk dipublikasikan."
    items={[
      {
        title: 'Submit Artikel',
        description:
          'Unggah artikel Anda melalui platform jurnal yang disediakan oleh Aapedia, pastikan naskah Anda telah disusun sesuai dengan template dan pedoman penulisan jurnal.',
      },
      {
        title: 'Proses Editorial',
        description:
          'Jika naskah Anda lolos penilaian awal, maka akan dikirimkan ke reviewer untuk dilakukan peer review. Reviewer akan memberikan masukan, penilaian terhadap karya ilmiah Anda.',
      },
      {
        title: 'Terbit / Dapatkan LOA',
        description:
          'Setelah Anda menyelesaikan proses revisi dan pembayaran biaya publikasi, kami akan mengirimkan Letter of Acceptance (LoA).',
      },
    ]}
  />


  <!-- Features3 Widget ************** -->

  <Features3
    title="Fitur Utama"
    subtitle="Beberapa poin sebagai pertimbangan kenapa harus publikasi artikel di jurnal AApedia."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Legalitas',
        description: 'AApedia adalah penerbit yang terdaftar secara resmi serta memiliki izin operasional. Artikel yang Anda publikasikan memiliki kekuatan hukum yang diakui.',
      },
      {
        title: 'Standar Nasional',
        description: 'Setiap jurnal memiliki ISSN yang sah oleh Badan Riset Inovasi Nasional, dan terindeks di Google Schoolar serta Garuda',
      },
      {
        title: 'Digital Object Identifier',
        description: 'DOI unik dari Crossref melalui RJI menunjukkan bahwa artikel ilmiah Anda telah melalui proses publikasi yang serius sehingga memenuhi standar internasional.',
      },
      {
        title: 'Database Jurnal Internasional',
        description: 'Dengan indeksasi seperti Copernicus dan Dimension, artikel yang dipublikasikan akan memiliki visibilitas yang lebih luas dan mudah ditemukan oleh peneliti global.',
      },
      {
        title: 'Etika Penelitian',
        description: 'AApedia menjunjung tinggi etika penelitian serta memastikan bahwa semua artikel ilmiah yang diterbitkan memenuhi standar etika yang berlaku.',
      },
      {
        title: 'Tim Editor',
        description: 'AApedia didukung oleh tim editor dan reviewer yang terdiri dari para ahli di bidangnya, sehingga artikel Anda akan mendapatkan evaluasi yang objektif.',
      },
      {
        title: 'Tim Teknis',
        description: 'Dapatkan bantuan dari tim AApedia untuk mengatasi segala kendala teknis yang Anda hadapi selama proses submit dan publikasi.',
      },
      {
        title: 'Keamanan Data',
        description: 'AApedia melakukan backup data server secara berkala serta memastikan keamanan sistem jurnal, untuk melindungi data berharga penelitian Anda.',
      },
      {
        title: 'Proofreading & Cek Plagiarisme',
        description: 'Dapatkan layanan proofreading dan cek plagiarisme (Turnitin) gratis untuk memastikan kualitas dan orisinalitas artikel Anda.',
      },
    ]}
  />

  <!-- Pricing Widget ******************* -->
  <Prices
    id="biaya"
    title="Biaya Publikasi Artikel Jurnal Ilmiah"
    subtitle="Cocok untuk berbagai keperluan, seperti tugas kuliah, tugas akhir atau kelulusan, kenaikan pangkat, dan beban kerja dosen (BKD)"
    prices={[
      {
        title: 'Harga',
        subtitle: 'Untuk setiap jurnal AApedia',
        price: 100.000,
        period: 'Per Artikel',
        items: [
          {
            description: 'ISSN',
          },
          {
            description: 'Garuda',
          },
          {
            description: 'Google Scholar',
          },
          {
            description: 'IndexCopernicus',
          },
          {
            description: 'Gratis Proofreading',
          },
          {
            description: 'Gratis Cek Plagiasi',
          },
        ],
        callToAction: {
          text: 'Hubungi Kami',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'promo',
      },
    ]}
  />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Tanya Jawab"
    subtitle="Pertanyaan umum yang sering diajukan terkait publikasi artikel di jurnal AApedia"
    columns={1}
    items={[
      {
        title: 'Apakah ada jurnal yang terakreditasi SINTA?',
        description:
          'Jurnal kami saat ini masih baru dan belum terakreditasi SINTA. Proses akreditasi membutuhkan waktu dan usaha yang signifikan. Kami terus berupaya untuk memenuhi standar akreditasi dan akan menginformasikan jika ada perkembangan terkait akreditasi.',
      },
      {
        title: 'Apakah jurnal AApedia akan diakreditasi oleh SINTA?',
        description:
          'Kami berencana untuk mengajukan akreditasi di masa depan, yang memungkinkan artikel jurnal yang Anda kirimkan saat ini bisa terindeks di SINTA di kemudian hari. .',
      },
      {
        title: 'Kenapa harus ada biaya publikasi?',
        description:
          'Biaya publikasi artikel jurnal ilmiah diperlukan untuk menutupi biaya proses editorial dan distribusi artikel. Selain itu, biaya ini mendukung pemeliharaan sistem dan infrastruktur teknis yang diperlukan untuk menjaga kualitas dan keberlanjutan publikasi.',
      },
      {
        title: 'Kenapa biaya publikasi artikel jurnal AApedia murah?',
        description:
          "Biaya publikasi artikel di sini terjangkau karena kami mengutamakan efisiensi dan keberlanjutan dalam operasional kami. Kami percaya bahwa aksesibilitas publikasi berkualitas tidak harus mahal, dan kami berkomitmen untuk memfasilitasi publikasi tanpa terlalu membebani penulis secara finansial.",
      },
      {
        title: 'Apakah ada biaya DP?',
        description:
          'Pengajuan artikel ke jurnal kami sepenuhnya gratis. Bahkan, jika artikel jurnal Anda dinilai sangat berkualitas oleh tim editor, publikasi bisa saja dilakukan tanpa biaya apapun.',
      },
      {
        title: 'Kapan dan bagaimana cara saya melakukan pembayaran publikasi?',
        description:
          'Pembayaran dilakukan setelah artikel Anda diterima dan siap untuk diterbitkan. Kami akan mengirimkan instruksi pembayaran melalui email atau Whatsapp.',
      },
    ]}
  />


</Layout>
